::-webkit-scrollbar {
    width: 13px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #1f374f; /* Color de fondo del riel (azul oscuro) */
}

/* Estilo para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: #0261b5; /* Color del pulgar (azul claro) */
    border-radius: 6px;
}

/* Estilo para el pulgar de la barra de desplazamiento cuando se está interactuando con él */
::-webkit-scrollbar-thumb:hover {
    background: #1b76c1; /* Color del pulgar al pasar el cursor sobre él (azul más claro) */
}